.game-container {
}

.game {
    height: 500px;
    background-color: #0f0;
}

.game-buttons {
    margin: 10px 0;
}

.game-options {
    height: 500px;
    padding: 10px;
    background-color: #f00;
}

.timer-element {
    display: inline;
    padding: 0;
    margin: 0;
}